@import '../../styles/base/base';

.basket-card {
    align-items: center;
    background-color: $color-white;
    border-radius: 0.5rem;
    display: flex;
    height: 10rem;
    padding: 1.6rem 1rem;
    width: 30.2rem;

    &__figure {
        height: 5rem;
        width: 6.5rem;

        &-img {
            height: auto;
            width: 100%;
        }
    }

    &__icon {
        cursor: pointer;
        height: 1.4rem;
        margin: -1.6rem 0 2rem 3rem;

        &:hover {
            fill: $color-red;
        }
    }

    &__title {
        color: $color-dark-grey;
        cursor: pointer;
        display: inline-block;
        font-size: $font-size-12;
        font-weight: 600;
        line-height: 1.6rem;
        margin-bottom: 0.8rem;
        width: 17rem;
        word-break: break-all;
    }

    &__price {
        color: $color-red;
        display: block;
        font-size: $font-size-13;
        font-weight: 700;
        line-height: 1;
        margin: 1.5rem 0 0 1rem;
    }

    .qbutton {
        height: 2.8rem;
        width: 13.8rem;

        &__span {
            display: none;
        }

        &__qty {
            height: 2.8rem;
            width: 6.8rem;
        }
    }

    .button--quantity {
        height: 2.8rem;
        width: 3.7rem;
    }
}
