@import '../../styles/base/base';
@import '../../styles/mixins/index';

.button {
    border: 0;
    border-radius: 2.5rem;
    outline: none;
    transition: 0.3s;

    &--cart {
        align-items: center;
        background-color: $color-white;
        border: 1px solid $color-grey;
        display: flex;
        height: 4.2rem;
        padding: 0 1.6rem;
    }

    &--add {
        background-color: $color-red;
        color: $color-white;
        cursor: pointer;
        font-size: $font-size-12;
        font-weight: 600;
        height: 3.2rem;
        line-height: 1.6rem;
        padding: 0.5rem 1rem;
        width: calc(100% - 3rem);

        &:hover {
            background-color: $color-dark-red;
        }
    }

    &--quantity {
        background-color: $color-white;
        border: 0.1rem solid $color-grey-border;
        border-radius: 3rem 0 0 3rem;
        height: 3.2rem;
        width: 4.8rem;

        @include respond-to(768, max) {
            height: 4rem;
        }
    }

    &--buy {
        background-color: $color-light-grey-2;
        border-radius: 0.3rem;
        color: $color-dark-grey;
        cursor: not-allowed;
        font-size: $font-size-14;
        font-weight: 600;
        height: 4.6rem;
        line-height: 2rem;
        opacity: 0.5;
        width: 20rem;
    }
}
