@import '../../styles/base/base';

.footer {
    box-shadow: $box-shadow-small;
    height: 100%;

    &__wrapper {
        align-items: center;
        background-color: $color-white;
        display: flex;
        height: 5.2rem;
        justify-content: flex-end;
        margin: 0 auto;
        max-width: 131.4rem;
        padding: 0.8rem 0;
    }

    &__title {
        font-size: $font-size-14;
        opacity: 0.6;
    }
}
