//COLORS
$color-black: #000;
$color-white: #fff;
$color-grey: #a9a9a9;
$color-grey-2: #999;
$color-grey-3: #8d8c8c;
$color-dark-grey: #3b3b3b;
$color-dark-grey-2: #494949;
$color-light-grey: #f6f6f8;
$color-light-grey-2: #f0f0f0;
$color-grey-border: #d9d9d9;
$color-sand: #f8f4f1;
$color-sand-2: #eaeaeb;
$color-sand-3: #e6e6e6;
$color-yellow: #f5bb42;
$color-red: #e22e39;
$color-dark-red: #b22f2e;
